<ion-view>


    <ion-nav-bar class="bar-assertive" ng-click="backTop()">

        <ion-nav-title class="logo"><img src="http://www.ttv123.com/m/style/images/logo_m.png" alt=""></ion-nav-title>


        <ion-nav-buttons>
            <a class="button button-clear" nav-direction="forward" href="#/search"><i class="icon ion-ios-search"></i></a>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <a class="button button-clear" href="#/tabs/live" style="font-family: 方正舒体;font-size: 3rem">直播</a>
        </ion-nav-buttons>


    </ion-nav-bar>



<!--副标题导航栏-->
    <ion-header-bar class="bar-subheader">
        <ion-scroll direction="x" scrollbar-x="false" style="overflow-x: hidden">
            <div class="news-bar-side">
                <button class="button button-dark button-clear doSameNews" ng-repeat="name in nameArray" ng-click="doSomeNews($index)">{{name.tname}}</button>
            </div>
        </ion-scroll>

<!--下拉按钮-->
        <button class="button button-clear button-dark icon ion-ios-arrow-down" ng-click="reversalBtn()"></button>

    </ion-header-bar>



    <!--下拉列表-->
    <ion-content class="reversalBtnDiv">

        <ion-header-bar class="reversalBar">
            <button class="button button-clear button-dark">切换栏目</button>

            <button class="button button-clear button-dark icon ion-ios-arrow-up backUpBtn" ng-click="backUpBtn()"></button>
        </ion-header-bar>

        <div class="reversalContent">
            <button class="button" ng-repeat="name in nameArray | orderBy:name.bannerOrder:false">{{name.tname}}</button>
        </div>

    </ion-content>




    <ion-content delegate-handle="newsHandle">


        <!--下拉刷新-->

        <ion-refresher pulling-text="松开推荐..." on-refresh="doRefresh()" spinner="ios" refreshing-text="推荐中...">

        </ion-refresher>
        <!--轮播图-->
        <mg-slide-box source-array="news.adsArray" ng-if="slidBox"></mg-slide-box>
        <!--新闻列表-->
        <ion-list>
            <ion-item ng-if="newsItem.recSource" class="list-item" ng-click="news.goToNewsDetails($index)" ng-repeat="newsItem in news.newsListArray | orderBy:newsItem.priority">

                <div class="firstDiv" ng-if="!newsItem.imgnewextra && newsItem.imgType != '1'" >
                    <img ng-src="{{newsItem.imgsrc}}" alt="">
                    <div class="itemSpanDiv1">
                        <span class="item-text-wrap">{{newsItem.title}}</span>

                        <span class="sourceSpan1">{{newsItem.recSource = newsItem.recSource=='#'?newsItem.source:newsItem.recSource}}</span>

                        <span class="replyCountSpan1">{{newsItem.replyCount}}跟帖</span>

                    </div>
                </div>


                <div class="secondDiv"  ng-if="newsItem.imgnewextra && newsItem.imgType != '1'">
                    <span class="item-text-wrap itemTitleSpan">{{newsItem.title}}</span>

                    <div class="itemImgDiv">
                        <img ng-src="{{newsItem.imgsrc}}" alt="">
                        <img ng-src="{{newsItem.imgnewextra[0].imgsrc}}" alt="">
                        <img ng-src="{{newsItem.imgnewextra[1].imgsrc}}" alt="">
                    </div>

                    <div  class="itemSpanDiv2">
                        <span>{{newsItem.recSource = newsItem.recSource=='#'?newsItem.source:newsItem.recSource}}</span>

                        <span>{{newsItem.replyCount}}跟帖</span>
                    </div>

                </div>

                <div class="secondDiv"  ng-if="newsItem.imgType=='1'">
                    <span class="item-text-wrap itemTitleSpan">{{newsItem.title}}</span>

                    <div class="itemImgDiv2">
                        <img ng-src="{{newsItem.imgsrc}}" alt="">
                    </div>

                    <div  class="itemSpanDiv2">
                        <span>{{newsItem.recSource = newsItem.recSource=='#'?newsItem.source:newsItem.recSource}}</span>

                        <span>{{newsItem.replyCount}}跟帖</span>
                    </div>
                </div>

            </ion-item>


        </ion-list>

        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                spinner="android"
                ng-if="isShowInfinite">
        </ion-infinite-scroll>
    </ion-content>




</ion-view>