<ion-view>


    <ion-nav-bar class="bar-assertive" ng-click="backTop()">
        <ion-nav-buttons class="barTop">
            <button class="button button-clear">问吧</button>
            <button class="button button-clear">话题</button>
            <button class="button button-clear">关注</button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="topicContent"  delegate-handle="topicHandle">


        <ion-refresher pulling-text="松开推荐..." on-refresh="doRefresh()" spinner="ios" refreshing-text="推荐中...">

        </ion-refresher>

        <div class="topicTop card" id="iconChange">
            <div class=" button col-20" ng-repeat="topClass in topic.topArray">
                <img ng-src="{{topClass.icon}}" alt="">
                <p>{{topClass.name}}</p>
            </div>
        </div>
        <p id="iconTransfrom" class=" button button-full button-small icon ion-chevron-down" ng-click="iconChange()"></p>



<!--卡片列表-->
        <div class="card cardList" ng-repeat="topicCard in topic.topicListArray">
            <div class="cardListTop">
                <p>{{topicCard.name}}&nbsp;&nbsp;/&nbsp;&nbsp;{{topicCard.title}}</p>
            </div>
            <img class="cardListImg" ng-src="{{topicCard.picurl}}" alt="">
            <div  class="cardListPic">
                <img ng-src="{{topicCard.headpicurl}}" alt="">
            </div>

            <p class="cardListP">{{topicCard.alias}}</p>
            <div class="cardListSpan">
                <div>
                    <span>{{topicCard.classification}}</span>
                    <span>{{topicCard.concernCount}}关注</span>
                    <span>{{topicCard.questionCount}}提问</span>
                </div>
                <button ng-if="topicCard.state" ng-click="doConcern($index)" class="button button-assertive button-small icon ion-plus icon-left">关注</button>
                <button ng-if="!topicCard.state" ng-click="doConcern($index)" class="button button-dark button-small icon ion-android-done icon-left">已关注</button>
            </div>

        </div>

        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                spinner="android"
                ng-if="isShowInfinite">
        </ion-infinite-scroll>
    </ion-content>

</ion-view>